.container {
  background-color: #ebf2f5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.container_option {
  background-color: #ebf2f5;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  align-items: center;
}

.Registration {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

.text_decoration {
  color: #7a7a7a;
  font-family: "roboto" sans-serif;
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0px 80px;
}

.input_decoration {
  background-color: #ebf2f5;
  height: 30px;
  border: none;
  border-style: hidden;
  margin: 0px 80px;
  margin-bottom: 15px;
  opacity: 0.8;
}

.button {
  background-color: #235e9d;
  color: white;
  padding: 10px 30px;
  margin: 0px auto;
}

.button_choice {
  background-color: #235e9d;
  color: white;
  padding: 10px 30px;
  margin: 0px auto;
  height: auto;
  width: auto;
}
