.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    
    
    justify-content: center;
}

.attachment_textbox_view {
    background-color: #EBF2F5;
}
.third_dashboard_edited {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    min-height: 200px;
    flex : 1;
    max-height: 90%;
    background-color: #FFFFFF;
    
}
.dashboard_mainly {
    display: flex;
    flex-direction: column;
    background-color: #EBF2F5;
    flex : 1;
    padding-left: 15px;
    align-items: center;
}
.text_styles_default {
    color : #7A7A7A;
    font-size: 20px;
    
}


div.mentoring_list {
    display: flex;
    flex-direction: column;
}

div.mentoring_list div {
    display: flex;
    flex-direction: row;
    
    padding: 0px 30px;

}

div.navbar_mentoring div.grouped_information_mentoring {
    display: flex;
    flex-direction: row;
    align-items: center;
}

div.navbar_mentoring div.grouped_information_mentoring text:first-child{
    font-size: 50px;
    color : green;
    padding-left : 15px;
}

div.navbar_mentoring div.grouped_information_mentoring text:last-child{
    font-size: 20px;
    color : #7A7A7A;
    padding-right : 15px;
}

div.mentoring_list div text {
    font-size: 30px;
    font-weight: bold;
    color : #7A7A7A;
}

div.mentoring_list div {
    justify-content: space-between;
    padding-top: 50px;
}

div.option_mentoring_style {
    align-items:flex-end;
    justify-content: flex-end;
}

.navbar_mentoring {
    display: flex;
    flex-direction: row;
    
    justify-content: center;
    box-shadow: 2px 2px 2px #888888;

}
.text_submition {
    color : #464749;
    border: none;
    margin-right: 5px;
    margin-left : 5px;
    font-size : 20px;
}

input.textbox {
    color : black;
    height: 30px;
    width: auto;
    background-color: #EBF2F5;
    border: none;
    margin-right: 5px;
    margin-left : 5px;
    margin-bottom: 15px;
    
}

textarea.textbox {

    color : black;
    
    width: auto;
    background-color: #EBF2F5;
    border: none;
    margin-right: 5px;
    margin-left : 5px;
    margin-bottom: 5px;
    
}

.partial_dashboard_view {
    
    display: flex;
    flex-direction: column;
    width: 500px;
}
.partial_dashboard_view:last-child {
    
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    
}

.third_dashboard div.partial_dashboard_view:first-child {
    
    display: flex;
    flex-direction: column;
    
    margin-right : 5px;
    padding-left : 5px;
}
.third_dashboard div.partial_dashboard_view:last-child {
    
    display: flex;
    flex-direction: column;
    
    margin-left : 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    
}

.attachment_button {
    background-color: #E3792F;
    align-items: center;
    justify-content: center;
    color: white;
    border : none;
    font-weight: bold;
    
    padding : 10px 20px;
}

.send_button {
    background-color: #235E9D;
    align-items: center;
    justify-content: center;
    color: white;
    border : none;
    padding : 1px 20px;
    margin-right: 15px;
    height: stretch;
    max-height: 30px;
    margin-top: 100%;
    align-self: flex-end;
    font-weight: bold;
}

div.dashboard_mainly text.submition_project {
    font-size: 50px;
    margin-bottom: 30px;
}
