.container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: hotpink;

}

.sidebar text {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top:30px;
    
    
    
    background-color: lavenderblush;
}

.main_dashboard {
    display: flex;
    flex-direction: column;
    background-color: khaki;
}

.text_profile {
    font-weight: bold;
    font-size: 30px;
}

.second_dashboard {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    padding : 0px 60px;
    height: 100%;
    width: auto;
}

.horizontal_line {
    border-left: 6px solid black;
    width: 500px;
    position: absolute;
    top : 0;
}

.mainly_function {
    margin-right: 50px;
}

.descr_function {
    font-size: 20px;
    font-weight: bold;
}

.user1 {
    font-size: 30px;
    font-weight: bold;
}

.short_description {
     font-size: 15px;

}

.user_profile_navbar {
    font-size: 30px;
    color: #7A7A7A;
}
.hjyh {
    background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 50px;

}
.yyop {
    display: flex;
    flex-direction: row;
    background-color: brown;
    justify-content:left;
    padding: 0px 100px;
    box-sizing: border-box;
    align-items: center;
    
}

.description {
    color: #464749;
    font-weight: bold;
    font-size: 20px;

}

.uiop {
    background-color: burlywood;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;
}


.wrgew {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: greenyellow;
    padding : 0px 60px;
}

hr#horizontal_line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    background-color: greenyellow;
}

.team_status {
    color: red;
    font-weight: bold;
    font-size: 17px;
}

.create_team {
    color : #7A7A7A;
}